
<div class="d-flex justify-content-start p-1" style="height: 3rem;">

    <Avatar Name="@Name.Substring(0, 1)" />

    <div class="d-flex flex-column ms-3">

        <p class="ms-1">@Name</p>

        <p class="text-muted" style="margin-top: -1rem;">@Email</p>

    </div>

</div>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Email { get; set; }

}
