@inject UserService userService

<Virtualize Items="users" Context="user">

    <ul class="list-group">

        <li class="d-flex flex-row list-group-item mt-3" @onclick="@(() => NavigateToChatRoom(user.Id))">
            
            <Avatar Name="@user.FirstName.Substring(0, 1)" /> 
            &nbsp;
            &nbsp;
            &nbsp;
            <p class="mt-2">@user.FirstName</p>

        </li>

    </ul>

</Virtualize>

