@page "/"

<div class="row">
    
    <div class="col-3">
        <div class="shadow content d-flex flex-column p-3 mt-4">
            <ChatMenu />
        </div>
    </div>

    <div class="col-9">
    </div>

</div>
